<div class="main-content">
  <div class="top-nav">
    <h3 class="heading heading-sec section-heading">Dashboard</h3>
    <p class="text-primary text-sec about__text-sec">Welcome, <%= current_user.email %></p>
    <%= button_to "Sign Out", destroy_user_session_path, method: :delete, class: "btn btn-logout" %>
  </div>
  <div class="dashboard-content">

    <div class="card">
      <div class="card-header">
        <h4>Recent Activity</h4>
        <%= link_to "New project", new_project_path, class: "add-btn" %>
        <button class="toggle-btn">x</button>
      </div>
      <div class="card-content">
        <table>
          <thead>
          <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Image</th>
            <th>Actions</th>
          </tr>
          </thead>
          <tbody>
          <% @projects.each do |project| %>
            <tr>
              <td><%= project.title %></td>
              <td><%= project.description %></td>
              <td>
                <% if project.images.attached? %>
                  <% project.images.each do |image| %>
                    <%= image_tag image, class: "project-image" %>
                  <% end %>
                <% else %>
                  No Image
                <% end %>

              </td>
              <td class="action-icons">
                <%= link_to project_path(project), class: "btn-icon btn-view", title: "View" do %>
                  🔍
                <% end %>
                <%= link_to edit_project_path(project), class: "btn-icon btn-edit", title: "Edit" do %>
                  ✏️
                <% end %>
                <%= button_to project_path(project), method: :delete, class: "btn-icon btn-delete", data: { confirm: "Are you sure?" }, title: "Delete" do %>
                  🗑️
                <% end %>
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>

  </div>
</div>

