<!--<header class="header">-->
<!--  <div class="header__content">-->
<!--    <div class="header__logo-container">-->
<!--      <img-->
<!--          src="./assets/svg/87lux-logo3.svg"-->
<!--          alt=""-->
<!--          class="header__logo"-->
<!--          alt="header logo"-->
<!--          />-->
<!--    </div>-->
<!--    <div class="header__main">-->
<!--      <ul class="header__links">-->
<!--        <li class="header__link-wrapper">-->
<!--          <a href="./index.html" class="header__link"> Home </a>-->
<!--        </li>-->
<!--        <li class="header__link-wrapper">-->
<!--          <a href="" class="header__link">About </a>-->
<!--        </li>-->
<!--        <li class="header__link-wrapper">-->
<!--          <a href="" class="header__link"> Projects </a>-->
<!--        </li>-->
<!--        <li class="header__link-wrapper">-->
<!--          <a href="./blog.html" class="header__link"> Blog </a>-->
<!--        </li>-->
<!--      </ul>-->
<!--    </div>-->
<!--  </div>-->
<!--</header>-->
<section class="hero home-hero">
  <div class="container">
    <h1 class="heading heading-primary">
      <span class="heading-primary__text">The Only Web Developer</span>
      <br/>
      <span class="heading-primary__text">You'll ever need</span>
    </h1>
    <div class="hero__info home-hero__info">
      <p class="text-primary hero__text-primary">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorem
        libero ea inventore explicabo similique eligendi
      </p>
    </div>
    <div class="hero__cta home-hero__cta">
      <a data-target="about" class="btn btn--primary hero__btn">About Me</a>
      <a data-target="MyProjects" class="btn btn--secondary hero__btn"> My Projects </a>
    </div>
  </div>
</section>
<section id="about" class="section section--hidden about">
  <div class="container">
    <div class="about__main">
      <div class="about__content">
        <div class="about__main-content">
          <h2 class="heading heading-sec section-heading">
            <span>About</span>
          </h2>
          <div class="about__text-content">
            <p class="text-sec about__text-sec">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Maiores iure ratione inventore in quam vitae quidem mollitia
              praesentium natus voluptates, explicabo, aliquid illo laborum
              consectetur iusto, totam optio enim dolorum.
            </p>
            <br/>
            <p class="text-sec about__text-sec">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Maiores iure ratione inventore in quam vitae quidem mollitia
              praesentium natus voluptates, explicabo, aliquid illo laborum
              consectetur iusto, totam optio enim dolorum.
            </p>
            <br/>
            <p class="text-sec about__text-sec">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Maiores iure ratione inventore in quam vitae quidem mollitia
              praesentium natus voluptates, explicabo, aliquid illo laborum
              consectetur iusto, totam optio enim dolorum.
            </p>
          </div>
          <a href="#" class="btn btn--primary"> Contact </a>
        </div>
        <div class="about__visual-content">
          <div class="about__img-cont">
            <%=image_tag 'about/custom.jpg', alt: "about" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="skills" class="skills">
  <div class="container">
    <h2 class="heading heading-sec section-heading">
      <span>Skills</span>
    </h2>
    <div class="skills__content">
      <div class="skill-box">
        <%=image_tag 'services/ror.png', alt: "ror" %>
      </div>
      <div class="skill-box">
        <%=image_tag 'services/Html5.png', alt: "ror" %>
      </div>
      <div class="skill-box">
        <%=image_tag 'services/Css3.png', alt: "ror" %>
      </div>
      <div class="skill-box">
        <%=image_tag 'services/Tailwind_CSS.png', alt: "ror" %>
      </div>
      <div class="skill-box">
        <%=image_tag 'services/next-js.png', alt: "ror" %>
      </div>
      <div class="skill-box">
        <%=image_tag 'services/react.png', alt: "ror" %>
      </div>
      <div class="skill-box">
        <%=image_tag 'services/aws.png', alt: "ror" %>
      </div>
      <div class="skill-box">
        <%=image_tag 'services/blockchain.png', alt: "ror" %>
      </div>
      <div class="skill-box">
        <%=image_tag 'services/Django.png', alt: "ror" %>
      </div>
      <div class="skill-box">
        <%=image_tag 'services/Angular.png', alt: "ror" %>
      </div>
      <div class="skill-box">
        <%=image_tag 'services/Express-JS.png', alt: "ror" %>
      </div>
      <div class="skill-box">
        <%=image_tag 'services/flutter.png', alt: "ror" %>
      </div>
      <div class="skill-box">
        <%=image_tag 'services/Typescript.png', alt: "ror" %>
      </div>
      <div class="skill-box">
        <%=image_tag 'services/node.png', alt: "ror" %>
      </div>


    </div>
  </div>
</section>

<section id="MyProjects" class="section section--hidden projects">
  <div class="container">
    <h2 class="heading heading-sec section-heading">
      <span>Projects</span>
    </h2>
    <div class="projects-list">

      <% @projects.each do |project| %>
        <div class="projects-list__project">
          <div class="projects-list__img-cont">
            <%= image_tag project.images.first, class: "projects-list__img" %>
          </div>

          <h3 class="projects-list__heading">
            <%= project.title %>
          </h3>

          <p class="text-tertiary projects-list__text-tertiary">
            <%= project.description %>
          </p>

          <%= link_to "More Detail", project_detail_path(project), class: "btn btn--theme projects-list__btn" %>

        </div>
      <% end %>

    </div>
  </div>
</section>

<section class="contact">
  <div class="container">
    <h2 class="heading heading-sec section-heading contact__heading">
      <span>Contact</span>
    </h2>
    <div class="contact__form-container">
      <%= form_with url: send_email_path, method: :post, html: { class: "contact__form", data: { turbo: false } } do |f| %>
        <div class="contact__form-field">
          <%= f.text_field :name, placeholder: "Name", class: "contact__form-input", required: true %>
        </div>
        <div class="contact__form-field">
          <%= f.email_field :email, placeholder: "Email", class: "contact__form-input", required: true %>
        </div>
        <div class="contact__form-field">
          <%= f.text_field :phone, placeholder: "Phone Number", class: "contact__form-input", required: true %>
        </div>
        <div class="contact__form-field">
          <%= f.text_area :message, placeholder: "Message", class: "contact__form-input", required: true, rows: 10 %>
        </div>
        <%= f.submit "Submit", class: "btn btn--primary contact__btn" %>
      <% end %>
    </div>
  </div>
</section>



<footer class="main-footer">
  <div class="container">
    <div class="main-footer__upper">
      <div class="main-footer__row main-footer__row-1">
        <h2 class="heading heading-sm main-footer__heading-sm">
          <span>Find Us</span>
        </h2>
                <div class="main-footer__social-cont">
                  <a target="_blank" rel="noreferrer" href="#">
                    <%=image_tag 'icons/linkedin-nsv.svg', width: 30, alt: "ror" %>
                  </a>
                  <a target="_blank" rel="noreferrer" href="#">
                    <%=image_tag 'icons/facebook-logo-2019.png', width: 30, alt: "ror" %>

                  </a>
                </div>
      </div>
      <div class="main-footer__row main-footer__row-2">
        <h4 class="heading heading-sm text-lt">John Doe</h4>
        <p class="main-footer__short-desc">
          John Doe is a web developer living in USA and his helping
          businesses to generate more revenue
        </p>
      </div>
    </div>

    <div class="main-footer__lower">
      &copy; Copyright 2025. <a href="http://junaid-ahmad-sandhu.netlify.app/" target="_blank"> Junaid Sandhu </a>
    </div>
  </div>
</footer>

